<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings configBuilders="UserSecrets">
    <add key="ComplexOpearationDbBatchSize" value="10" />
    <!--[DB_NAME] will be replaced by application. Please include it in your ConnectionStringTemplate-->
	<!--<add key="ConnectionStringTemplate" value="Server=localhost;Database=master;Trusted_Connection=True;" />-->
	<add key="ConnectionStringTemplate" value="data source=.\SQLEXPRESS;initial catalog=[DB_NAME];persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" />
    <add key="DefaultDbBatchSize" value="100" />
    <add key="DefaultEmailRecipientAddress" value="marcin.czerwinski@contractors.roche.com" />
    <add key="DefaultLogsViewPageSize" value="20" />
    <add key="DefaultSearchSourcePageSize" value="12" />
    <add key="DefaultSearchTaskPageSize" value="15" />
    <add key="DefaultSharedDriveReportLocation" value="https://drive.google.com/drive/folders/1nNDUmZqm3dEnfoImUdwtXcRZD4bbGlNm" />
    <add key="DefaultSharePointPageSize" value="1000" />
    <add key="EmailFromAddress" value="umt-noreply@roche.com" />
    <!--OneSpExcludedLibraryNames separate with semicolon-->
    <add key="OneSpExcludedLibraryNames" value="Customized Reports; Form Templates; Site Assets; Site Collection Documents; Site Pages; Pages; Web Part Gallery; Theme Gallery; Style Library; Solution Gallery; SiteMapPermission; Reporting Templates; PermissionsDescriptor; Master Page Gallery; CommonCoremapPages; Mobile Navigation; Calendar; Announcements; Links; Tasks; Team Discussion; Workflow History; Workflow Tasks; Workflows; TaxonomyHiddenList; NintexSnippets; NintexTemplates; NintexWorkflowHistory; NintexWorkflows; List Template Gallery; Content and Structure Reports; Reusable Content; Site Collection Images; Meetings; Pictures; Members; Meeting Types; Meeting Document Types; Document Types;" />
    <!--GmpExcludedLibraryNames separate with semicolon-->
    <add key="GmpExcludedLibraryNames" value="Style Library;" />
    <add key="GmpToOneArchiveExludedFields" value="Edit;ItemChildCount;DocIcon;LinkFilenameNoMenu;LinkFilename;FolderChildCount;ID;AppAuthor;AppEditor;ArchiveHyperlink;ArchiveSiteCollection;" />
    <!--GmpToQdMigrationConfigsLocation if empty then default will be used -> APP_LOCATION\Configurations\GmpToQd-->
    <add key="GmpToQdMigrationConfigsLocation" value="\\rbamv206706\c$\UMT\LibrariesMappingConfiguration" />
    <add key="GoogleClientId" value="secret" />
    <add key="GoogleClientSecret" value="secret" />
    <add key="HubStoreLoginName" value="secret" />
    <add key="HubStorePassword" value="secret" />
    <add key="MaxRunningTasksCount" value="5" />
    <add key="NewDbsLocation" value="C:\UMT_Backup" />
    <!--ProjectLibraryIgnoredPermissionGroups separate with semicolon-->
    <add key="ProjectLibraryIgnoredPermissionGroups" value="RWE LL PL All PL Users;" />
    <add key="QualityDocsMinimumRemainingApiCalsPercentage" value="10" />
    <!--According to QD dev support QD is able to index 10000 file/h-->
    <!--It's 2,77 file/s-->
    <!--It's 361,01 ms/file-->
    <add key="QualityDocsServerWorkTimeInMilisecondsPerDocument" value="360" />
    <add key="QualityDocsServerWorkTimeInMilisecondsPerDocumentVersion" value="360" />
    <add key="QualityDocsServerWorkTimeInMilisecondsPerRendition" value="700" />
    <add key="SendEmailAfterAllMigrations" value="false" />
    <add key="SendEmailAfterEachMigration" value="true" />
    <add key="SmtpServer" value="mailhostint.roche.com" />
    <add key="UapAuditTrailFileName" value="audit.csv" />
    <add key="UapClientId" value="secret" />
    <add key="UapGroupsManagerLoginName" value="secret" />
    <add key="UapGroupsManagerPassword" value="secret" />
    <add key="UapLoginName" value="secret" />
    <add key="UapMetadataFileName" value="Metadata.xml" />
    <add key="UapMigrationsTechniciansLogins" value="" />
    <add key="UapPassword" value="secret" />
    <add key="UapTenant" value="secret" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <configBuilders>
    <builders>
      <add name="UserSecrets" userSecretsFile="c:\\secrets\\secrets.xml" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </builders>
  </configBuilders>
  <log4net debug="false">
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value=".\logs\log-file-[%env{COMPUTERNAME}][%utcdate{dd.MM.yyyy-HH.mm.ss}].log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <staticLogFileName value="false" />
      <preserveLogFileNameExtension value="true" />
      <countDirection value="1" />
      <rollingStyle value="Composite" />
      <maximumFileSize value="50MB" />
      <maxSizeRollBackups value="20" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate %-5level %logger - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.114.0" newVersion="1.0.114.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" culture="neutral" publicKeyToken="71e9bce111e9429c" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
        <bindingRedirect oldVersion="15.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
        <codeBase version="14.0.0.0" href="Libraries\Microsoft.SharePoint.Client.dll" />
        <codeBase version="16.0.0.0" href="Libraries\Microsoft.SharePoint2016.Client.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" culture="neutral" publicKeyToken="71e9bce111e9429c" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
        <bindingRedirect oldVersion="15.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
        <codeBase version="14.0.0.0" href="Libraries\Microsoft.SharePoint.Client.Runtime.dll" />
        <codeBase version="16.0.0.0" href="Libraries\Microsoft.SharePoint2016.Client.Runtime.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RecPointBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="GmpBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
          </security>
        </binding>
		<binding name="OneSharepointBinding" maxReceivedMessageSize="2147483647">
			<security mode="Transport">
				<transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
			</security>
		</binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://subSiteUrl/_vti_bin/copy.asmx" binding="basicHttpBinding" bindingConfiguration="RecPointBinding" contract="SharePoint2010CopyAsmx.CopySoap" name="RecPointCopySoap" />
      <endpoint address="https://subSiteUrl/_vti_bin/Lists.asmx" binding="basicHttpBinding" bindingConfiguration="GmpBinding" contract="SharePoint2016ListsAsmx.ListsSoap" name="GmpListsSoap" />
	  <endpoint address="https://subSiteUrl/_vti_bin/Lists.asmx" binding="basicHttpBinding" bindingConfiguration="OneSharepointBinding" contract="SharePoint2016ListsAsmx.ListsSoap" name="OneSharepointListsSoap" />
	</client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>